{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
    <h1>Modifier votre Profil</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
