<h1>Welcome, {{ app.user.pseudo }}!</h1>

<ul>
    {% for pop in pops %}
        <li>{{ pop.content }} - posted by {{ pop.author.pseudo }}</li>
    {% else %}
        <li>No pops found for the users you follow.</li>
    {% endfor %}
</ul>
