{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vos Groupes</h1>

    <a href="{{ path('new_group') }}" class="btn btn-primary mb-3 rounded-pill">Créer un nouveau groupe</a>

    <ul>
        {% for group in groups %}
            <li>{{ group.name }} 
                <a href="{{ path('delete_group', {id: group.id}) }}" class="btn btn-danger rounded-pill btn-sm">Supprimer</a>
            </li>
        {% else %}
            <li>Vous ne faites partie d'aucun groupe.</li>
        {% endfor %}
    </ul>
{% endblock %}
