{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveaux groupe</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        <button class="btn btn-primary rounded-pill">POP !</button>
    {{ form_end(form) }}
{% endblock %}
